<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<table style="width: 100%; height: 100vh; background-color: #f2f2f2;">
  <tr style="width: 100%; height: 70%; background-color: white; padding: 3px;">
    <td style="width: 100%; text-align: center;">
      <img src="cid:logo" style="height: 70px; width: 80px;" />
      <h3 style="text-align: center;">
        Welcome {{name}}
      </h3>
      <h4 style="text-align: center;">
        Password requested: {{tempPassword}}
      </h4>
      <br />
      <h4 style="text-align: center;">
        {{client}} is requesting you to activate your Liteboards account
        <br /><br />
        Click on the link below to activate your account
      </h4>
      <a
        style="text-align: center; font-size: 30px;"
        href="{{activationUrl}}"
        target="_blank"
        >ACTIVATE</a
      >
      <br />
    </td>
  </tr>
  <tr style="width: 100%; height: 30%; padding: 3px;">
    <td>
      <footer style="width: 100%;">
        <p style="font-size: 12px; margin-top: 10px; text-align: center;">
          This email was sent to {{email}} <br /><br />Liteboards
          <br />Liteboards address somewhere in toronto
        </p>
      </footer>
    </td>
  </tr>
</table>
