<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<table style="width: 100%; height: 100vh; background-color: #f2f2f2">
  <tr style="width: 100%; height: 70%; background-color: white; padding: 3px">
    <td style="width: 100%; text-align: center">
      <span style="color: #6766a5; font-size: 80px">sÜp</span>
      <h3 style="text-align: center">Hey {{name}}</h3>
      <h4 style="text-align: center">
        You have been invited to the following event by {{host}}
      </h4>
      <br />
      <h4 style="text-align: center">
        {{eventDescription}}
        <br /><br />
        Event Date: {{eventDate}}
        <br /><br />
        SUP URL: {{eventUrl}}
        <br /><br />
        Going ? {{goingChoices}}
        <br> <a href="http://localhost:3000/api/v1/sup/updateGoingStatus/y">YES</a>
        <br> <a href="http://localhost:3000/api/v1/sup/updateGoingStatus/n">NO</a>
        <br> <a href="http://localhost:3000/api/v1/sup/updateGoingStatus/ns">NOT SURE</a>
      </h4>
      <br />
    </td>
  </tr>
  <tr style="width: 100%; height: 30%; padding: 3px">
    <td>
      <footer style="width: 100%">
        <p style="font-size: 12px; margin-top: 10px; text-align: center">
          This email was sent to {{email}} <br /><br />Liteboards
          <br />Liteboards address somewhere in toronto
        </p>
      </footer>
    </td>
  </tr>
</table>
